.search_bar{
    left:unset;
}

.file_manager_close{

    right: unset !important;
    left: 47px !important;
}

.file_manager_content {
    float: right;

}

.file_manager_tabs{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 54px;
}

.media_loader{
    left: unset;
    right: 17px;
}

.media-grid{
    right: 66px;

}

.gallery_details_panel{
    right:unset;
    left: 0 !important;
}

.media_rows .media_row{
    float: right;
}

.dz-default.dz-message {
    margin-left: -208px;
}

#gallery_query{
    padding-right: 70px;
    padding-left: 0px;
}

.galleries-home{
    border-radius: 0 4px 4px 0;
}

/*
XS
*/

@media (max-width: 768px) {

    .media-grid{
        right: 15px;

    }

}

/*
SM
*/

@media (min-width: 768px) {

    .media-grid {
        right: 82px;
    }

}


/*
MD
*/

@media (min-width: 992px) {

    .media-grid{
        right: 66px;

    }

}


/*
LG
*/

@media (min-width: 1200px) {

    .media-grid{
        right: 66px;

    }



}


/*
.media-grid-wrapper {
    height: 100%;
}
*/

@media (min-height: 200px) {



}









